<nav>
    <div class="logo">
        <img src="/img/nodeIcon.png" alt="">
        <p>Contacts App</p>
    </div>
    <a href="/contacts/add" title="Add new contact">Add contact</a>
    <ul>
        <li>
            <p><%= fullname %></p>
        </li>
        <li>
            <a href="/logout">
                <img src="/img/logout.svg" alt="" title="Logout">
            </a>
        </li>
    </ul>
</nav>